<header class="border border-b-neutral-800 border-solid mb-3">
  <div class="flex flex-row bg-red h-30 bg-neutral-900 place-content-around items-center">
    <div class="logo bg-blue-300 size-16"></div>
    <nav class="bg-red-200 w-lg flex flex-row place-content-center">
      <ul class="flex flex-row bg-emerald-500 m-3 space-x-10">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
